*{
  margin: 0;
  padding: 0;
}

button {
  pointer-events: auto;
  background: #1677ff;
  padding: 4px 15px;
  border-radius:6px;
  cursor: pointer;
  border: 1px solid rgba(0,0,0,0);
  color: #fff;
  box-shadow: 0 2px 0 rgba(5,145, 255, 0.1);
}